PORT=__API_PORT__
TRUST_PROXY=false
IBADGE_VERSION=__APP_VERSION__
JWT_SECRET=__JWT_SECRET__
IBADGE_ENVIRONMENT=Production
IBADGE_KIOSK_DB_CONNECTION_STRING=__KIOSK_DB_CONNECTION_STRING__
IBADGE_ACCESS_CONTROL_DB_CONNECTION_STRING=__SOURCE_DB_CONNECTION_STRING__
IBADGE_EXPORT_ROOT=__EXPORT_ROOT__
IBADGE_LOG_ROOT=__LOG_ROOT__
IBADGE_DUPLICATE_WINDOW_SECONDS=__DUPLICATE_WINDOW_SERVER_SECONDS__
IBADGE_IMPORT_INTERVAL_HOURS=__IMPORT_INTERVAL_HOURS__
IBADGE_ADMIN_PIN_HASH=__ADMIN_PIN_HASH__
